
<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Planterior</title>
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}" media="screen">
</head>
<body>
    {% include 'blog/navbar.html' %}


    
    <section>

        
        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-8">
                    <h2> Planterior </h2>
                    <br>
                    <p>
                        식물(plant)과 인테리어(interior)의 합성어로 식물로 실내를 꾸미면서 공기 정화의 효과와 심리적 안정의 효과를 주는 인테리어를 말합니다.<br>
                        최근에는 미세먼지가 사회의 큰 이슈로 화제가 되자 자연스럽게 실내 인테리어에 대한 관심과 맞물려 공기 정화 효과를 가진 식물들이 주목받기 시작하면서 본격화되었습니다.
                    </p>
                    
                    
                        
                    
                </div>
                <div class="col-lg-4">
                    <img class="img-fluid" src="{% static 'single_pages/images/p2.jpeg' %}" alt="">
                    
                </div>
            </div>
        </div>
    </section>
    <section class="bg-right margin-bottom: 40px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Photo</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#excel2022">
                        <img class="card-img-top" src="{% static 'single_pages/images/p8.jpeg' %}" alt="">
                        <div class="card-body">
                            <h6 class="card-title">수경재배(water culture)</h6>
                            <p>가장 쉽게 접할 수 있는 게 수경재배가 가능한 식물인데,
화분에서 키우는 것보다 훨씬 간편하고 편리하며 분갈이나 영양분 공급, 주기적인 물 주기 등이 필요 없다는 점이 여태까지 플랜테리어에 어려움을 느낀 사람들에게 가장 큰 장점으로 다가올 것입니다.</p>
                            
                        </div>
                    </div>
                    
                </div>
                
                
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#django2022">
                        <img class="card-img-top" src="{% static 'single_pages/images/p7.jpeg' %}" alt="">
                        <div class="card-body">
                            <h6 class="card-title">마크라메 행잉플랜트(Macrame hangingplant)</h6>
                            <p>수경재배식물 외에 공중 식물 또한 인기인데 따로 둘 자리가 없어도 공중에 매달아 놓으면 되어 자리 차지하는 부분 없이 키울 수 있기 때문입니다. 
공중 식물이 인기를 끌면서 공중에 화분들을 매달아 놓을 수 있는 방법 또한 인기를 끌었는데 마크라메 행잉플랜트가 바로 그 방법 중 하나입니다..</p>
                            
                        </div>
                    </div>
                    
                </div>
                
                
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#python2022">
                        <img class="card-img-top" src="{% static 'single_pages/images/p6.jpeg' %}" alt="">
                        <div class="card-body">
                            <h6 class="card-title">테라리엄(terrarium)</h6>
                            <p>공중에 식물을 두는 방법으로는 테라리엄(trrarium)이 있습니다.
테라리엄은 Terra(땅) 과 Arium(용기, 방)의 합성어로 용기에 식물을 재배하는 방법을 말합니다. 어떤 용기든 가능은 하지만 보통 유리병으로 이에 보틀 가든이라고도 불립니다. </p>
                            
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
            
        </div>
    </section>
    
    
    
<!-- Modal -->
<div class="modal fade" id="excel2022" tabindex="-1" aria-labelledby="excel2022ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="excel2022ModalLabel">수경재배(water culture)</h5>
       
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-lg-7">
                <img class="img-fluid" src="{% static 'single_pages/images/p8.jpeg' %}" alt="">
                
            </div>
            <div class="col-lg-5">
                <p>
                    가장 쉽게 접할 수 있는 게 수경재배가 가능한 식물인데,
화분에서 키우는 것보다 훨씬 간편하고 편리하며 분갈이나 영양분 공급, 주기적인 물 주기 등이 필요 없다는 점이 여태까지 플랜테리어에 어려움을 느낀 사람들에게 가장 큰 장점으로 다가올 것입니다.
                </p>
            </div>
       
         </div>
          
          <div class="modal-footer  float-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
      </div>
   </div>
       
  </div>
 </div>  
        
<div class="modal fade" id="django2022" tabindex="-1" aria-labelledby="django2022ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="django2022ModalLabel">마크라메 행잉플랜트(Macrame hangingplant)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        
      <div class="modal-body">
        <div class="row">
            <div class="col-lg-7">
                <img class="img-fluid" src="{% static 'single_pages/images/p7.jpeg' %}" alt="">
                
            </div>
            <div class="col-lg-5">
                <p>
                    수경재배식물 외에 공중 식물 또한 인기인데 따로 둘 자리가 없어도 공중에 매달아 놓으면 되어 자리 차지하는 부분 없이 키울 수 있기 때문입니다. 
공중 식물이 인기를 끌면서 공중에 화분들을 매달아 놓을 수 있는 방법 또한 인기를 끌었는데 마크라메 행잉플랜트가 바로 그 방법 중 하나입니다.
                </p>
            </div>
        
         </div>
          <div class="modal-footer ">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
      </div>
    </div>
       
    </div>
 </div>
        
        
        
        <div class="modal fade" id="python2022" tabindex="-1" aria-labelledby="python2022ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="python2022ModalLabel">테라리엄(terrarium)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-lg-7">
                <img class="img-fluid" src="{% static 'single_pages/images/p6.jpeg' %}" alt="">
                
            </div>
            <div class="col-lg-5">
                <p>
                   공중에 식물을 두는 방법으로는 테라리엄(trrarium)이 있습니다.
테라리엄은 Terra(땅) 과 Arium(용기, 방)의 합성어로 용기에 식물을 재배하는 방법을 말합니다. 어떤 용기든 가능은 하지만 보통 유리병으로 이에 보틀 가든이라고도 불립니다. 
                </p>
            </div>
       
         </div>
      </div>
   
        
        
        
        
        
        
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
        

    
    
        <div class="fixed-bottom">
        {% include 'blog/footer.html' %}
    </div>
    


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    
    </body>
</html>